<div class="footer-light padding-50 mobile-center">
  <div class="row">
    <div class="footer-callout">
                    <div class="textwidget">Nimble Works, is an expert IT Company based in Illinois. We create 
<span class="footer-sp">Custom Software</span> and <span class="footer-sp">IT Consulting</span> solutions that turn organizations into category leaders.</div>
              </div>
  </div>

  <div class="row footer-row">
    
    <div class="large-4 medium-4 columns">
      <h4>Links</h4>
      <ul class="footer-menu">        
        <li class=""><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-consulting/">IT Consulting</a></li><li class=""><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/custom-software-development/">Custom Software Development</a></li><li class=""><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-support/">IT Support</a></li><li class="link_title"><a href="http://localhost:8080/nimbleworksllc/contacts/">Contact Us</a></li>     </ul>
    </div>


    <div class="large-5 medium-5 columns footer-middle">
   
    <div class="footer-posts">
     
      <h4>Nimble Solutions</h4>

      <a href="http://localhost:8080/nimbleworksllc/2016-17-it-trends-for-business/"><h5 class="chat-icon title">2016 - 17 IT Trends for Business - What You Need to Know Today</h5></a><div class="blog date">Posted on Apr 18 by Siva</div>     <a class="footer-postimg" href="http://localhost:8080/nimbleworksllc/2016-17-it-trends-for-business/"><img src="http://localhost:8080/nimbleworksllc/uploads/IT-trends-for-2017-150x150.jpg" /></a>
                
      <div class="blog preview">Corporate IT budgets are on the rise as businesses note customer acquisition opportunity, operationa... <a href="http://localhost:8080/nimbleworksllc/2016-17-it-trends-for-business/" class="white blog-more">READ MORE</a></div>        <div style="display:none"><span style="font-weight: 400;">Corporate IT budgets are </span><a href="http://www.cio.com/article/3036646/it-strategy/businesses-spending-more-on-tech-worrying-more-about-it-disruption.html"><span style="font-weight: 400;">on the rise</span></a><span style="font-weight: 400;"> as businesses note customer acquisition opportunity, operational efficiency, and security concern among motivations to increase their spend. The world's leading information technology research and advisory company Gartner Inc. forecasts a global $3.54 trillion dollar expenditure on IT this year. </span>



&nbsp; </div> 
      <div class="clear"></div>
      
      </div><!--footer-posts-->
      <h4 class="title">CONNECT WITH US</h4>
            <ul class="no-bullet footer-social">
        <li>
          <a href="mailto:info@nimbleworksllc.com" target="_blank"><img style="vertical-align:bottom" src="http://localhost:8080/nimbleworksllc/uploads/mail.png" /></a>          <a href="http://www.linkedin.com/company/nimbleworksllc?trk=top_nav_home" target="_blank"><img src="http://localhost:8080/nimbleworksllc/uploads/linkedin.png" /></a>                   <a href="http://www.google.com/+nimbleworksllc" target="_blank"><img src="http://localhost:8080/nimbleworksllc/uploads/gplus.png" /></a>          <a href="https://twitter.com/nimbleworksllc" target="_blank"><img src="http://localhost:8080/nimbleworksllc/uploads/twitter.png" /></a>        </li>
      </ul>
            <p style="font-weight:600">TOLL FREE: <a href="tel:18666842541">1-866-684-2541 </a></p>
    </div><!--large-5-->
    
    <div class="large-3 medium-3 columns">
                    <div class="textwidget"><div class="footer-addresses">
<img src="http://localhost:8080/nimbleworksllc/uploads/footer-red.jpg" /><h4>Illinois</h4>
600-816 7th Avenue SW <br/>
Calgary, Alberta T2P 1A1 <br/>
1.403.560.3231<br/>
<a href="https://www.google.ca/maps/place/816+7+Ave+SW,+Calgary,+AB+T2P+1A1/@51.0477787,-114.0837317,18z/data=!4m2!3m1!1s0x53716fe40d85520f:0x40e3d62d8349294b" target="_blank">View on map</a>
</div></div>
          
                    
          
                    <div class="textwidget"><div class="footer-addresses">
<img src="http://localhost:8080/nimbleworksllc/uploads/footer-blue.png" /><h4>Bangalore</h4>
300-309 Strickland Street <br/>
Whitehorse, Yukon Y1A 2J9<br/>
1.867.668.3131<br/>
<a href="https://www.google.ca/maps/place/309+Strickland+St,+Whitehorse,+YT+Y1A+2J9/@60.7219393,-135.0603759,17z/data=!3m1!4b1!4m2!3m1!1s0x515444c332011b1d:0x4c2a4f2d8bef32f2" target="_blank">View on map</a>
</div></div>
              </div>


  </div>
  <div class="row">
    <div class="large-12 columns bottom-menu">
      <hr>
      <ul class="meta inline-list hide-for-small-only">
        <li>&copy; 2016 NimbleWorks LLC</li>
        <li class=""><a href="http://localhost:8080/nimbleworksllc/terms-privacy/">Terms & Privacy</a></li><li class=""><a href="http://localhost:8080/nimbleworksllc/photo-credits/">Photo Credits</a></li>      </ul>
      <ul class="meta no-bullet show-for-small-only">
        <li>&copy; 2016 NimbleWorks LLC</li>
        <li class=""><a href="http://localhost:8080/nimbleworksllc/terms-privacy/">Terms & Privacy</a></li><li class=""><a href="http://localhost:8080/nimbleworksllc/photo-credits/">Photo Credits</a></li>      </ul>
    </div>
  </div>   
</div>

<script src="http://localhost:8080/nimbleworksllc/js/jquery.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/foundation.min.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/jquery.slicknav.min.js"></script>  
<script src="http://localhost:8080/nimbleworksllc/js/jquery.contenthover.min.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/jquery.sticky.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/smooth.scroll.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/jquery.stellar.min.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/bjqs-1.3.min.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/masonry.pkgd.min.js"></script>
<script src="http://localhost:8080/nimbleworksllc/js/imagesloaded.pkgd.min.js"></script>

<script>
  $(document).foundation();
</script>

<script>
  $(function(){
    $.stellar({
      horizontalScrolling: false,
      verticalOffset: 0,
      responsive: true
    });
  });
</script>

<script>
  jQuery(document).ready(function($) {
    if ($('#banner-fade').length) {
      $('#banner-fade').bjqs({
        height      : 600,
        width       : '100%',
        responsive  : true,
        speed       : 1000
      });
    }
    
    if ($('#banner-fade-mobile').length) {    
      $('#banner-fade-mobile').bjqs({
        height      : 500,
        width       : '100%',
        responsive  : true,
        speed       : 1000
      });      
      $(".bjqs-markers li").find("a").text("");
    }   
  });
</script>
  

<script type="text/javascript">
  $(document).ready(function(){
    $('.mobile-menu').slicknav({
      label: ""
    });

    $('.slicknav_menu').prepend('<a href="http://localhost:8080/nimbleworksllc" class="logo-mobile"></a>');
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.staff-photo').contenthover({
      overlay_background:'#000',
      overlay_opacity:0.8
    });
  });
</script>

<script>
  var t = $("#scrolled").offset().top;
  
  var slide = false;
  $(document).scroll(function(){  
      if($(this).scrollTop() > 86 && t != "undefined")
      { 
              
        //$(".nav-container").addClass("nav-hover");
        if(!slide){
          $("#drop-primary").sticky({topSpacing:0});
          $('#drop-primary').slideToggle("slow"); 

          /*
$("#drop-primary").animate({
              height: "toggle",
              opacity: "toggle"
          }, "slow");
*/
          
          // $("#drop-primary").fadeToggle(500);

          
          $('#drop-primary').addClass("shadow");          
          $(".logo-make").animate({width: 'toggle'});
          slide = true;      
        }
      }else{
        if ( t < 86) {
         //$(".nav-container").removeClass("nav-hover");
         if(slide){
           $('#drop-primary').removeClass("shadow");  
           $(".logo-make").animate({width: 'toggle'});
           $('#drop-primary').slideToggle("slow");
           // $("#drop-primary").fadeToggle();
           slide = false;   
         }
       }
      }
    });
</script> 
      
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/localhost:8080\/nimbleworksllc\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/scripts.js?ver=4.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/jquery-ui-timepicker-addon.min.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/button.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/jquery/ui/jquery-ui-sliderAccess.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/comment-reply.min.js?ver=4.4.2'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/functions.js?ver=20140616'></script>
<script type='text/javascript' src='http://localhost:8080/nimbleworksllc/js/wp-embed.min.js?ver=4.4.2'></script>