  <div id="nav-bg" class="nav-hover" style="display:none !important;"></div> 
  <div class="nav-container hide-for-small" id="primary">
    <ul class="left inline-list">
      <li>
        <a class="logo-small" href="http://localhost:8080/nimbleworksllc"></a>
        <a class="logo-make" href="http://localhost:8080/nimbleworksllc" id="logo-make"></a>
      </li>
    </ul> 
    <ul class="nav right">
      <li><a href="http://localhost:8080/nimbleworksllc/about-us/">About</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/" data-dropdown="drop399" data-options="is_hover:true">Services</a></li><li><a href="http://localhost:8080/nimbleworksllc/approach/">Approach</a></li><li><a href="http://localhost:8080/nimbleworksllc/clients/" data-dropdown="drop16" data-options="is_hover:true">Clients</a></li><li><a href="http://localhost:8080/nimbleworksllc/contacts/">Contact</a></li>    </ul>
  </div>
  <div id="drop-primary-sticky-wrapper" class="sticky-wrapper" style="height: 85px;">
    <div class="nav-container shadow" id="drop-primary" style="display:none;">
      <ul class="left inline-list">
        <li>
          <a class="logo-small" href="http://localhost:8080/nimbleworksllc"></a>
          <a class="logo-make" href="http://localhost:8080/nimbleworksllc" id="logo-make"></a>
        </li>
      </ul> 
      <ul class="nav right">
        <li><a href="http://localhost:8080/nimbleworksllc/about-us/">About</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/" data-dropdown="nav-drop399" data-options="is_hover:true">Services</a></li><li><a href="http://localhost:8080/nimbleworksllc/approach/">Approach</a></li><li><a href="http://localhost:8080/nimbleworksllc/clients/" data-dropdown="nav-drop16" data-options="is_hover:true">Clients</a></li><li><a href="http://localhost:8080/nimbleworksllc/contacts/">Contact</a></li>     </ul>
    </div>
  </div>
  
  <ul class="mobile-menu">
    <div class="menu-navigation-container"><ul id="menu-navigation" class="menu"><li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://localhost:8080/nimbleworksllc/about-us/">About</a></li>
<li id="menu-item-399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-399"><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/">Services</a>
<ul class="sub-menu">
  <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-104"><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-consulting/">IT consulting</a></li>
  <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-103"><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/custom-software-development/">Custom software development</a></li>
  <li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-services menu-item-228"><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-support/">IT support</a></li> 
</ul>
</li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://localhost:8080/nimbleworksllc/approach/">Approach</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16"><a href="http://localhost:8080/nimbleworksllc/clients/">Clients</a>
<ul class="sub-menu">
  <li id="menu-item-281" class="menu-item menu-item-type-post_type menu-item-object-casestudies menu-item-281"><a href="http://localhost:8080/nimbleworksllc/casestudies/tc/">TravelClick</a></li>
  <li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-casestudies menu-item-275"><a href="http://localhost:8080/nimbleworksllc/casestudies/ensono/">Ensono</a></li>
</ul>
</li>
<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://localhost:8080/nimbleworksllc/contacts/">Contact</a></li>
</ul></div>  </ul>
  
  
  <a id="scrolled" style="display:none;"></a> 
  <ul class="tiny drop-width f-dropdown" id="drop399" data-dropdown-content><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-consulting/">IT consulting</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/custom-software-development/">Custom software development</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-support/">IT support</a></li></ul><ul class="tiny drop-width f-dropdown" id="drop16" data-dropdown-content><li><a href="http://localhost:8080/nimbleworksllc/casestudies/tc/">TravelClick</a></li><li><a href="http://localhost:8080/nimbleworksllc/casestudies/ensono/">Ensono</a></li></ul> <ul class="f-dropdown" id="nav-drop399" data-dropdown-content><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-consulting/">IT consulting</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/custom-software-development/">Custom software development</a></li><li><a href="http://localhost:8080/nimbleworksllc/it-consulting-services/it-support/">IT support</a></li></ul><ul class="f-dropdown" id="nav-drop16" data-dropdown-content><li><a href="http://localhost:8080/nimbleworksllc/casestudies/tc/">TravelClick</a></li><li><a href="http://localhost:8080/nimbleworksllc/casestudies/ensono/">Ensono</a></li></ul> 
  
  
