<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/nav.ejs %>   


		
		<!-- first section, banner-->
		<div class="banner-interior text-center hide-for-small-only">
		  <div class="about" style="background-image: url('http://www.makeit.com/wp-content/uploads/2014/11/make_about_banner.jpg');">
		    <div class="table">
		      <div class="center">
		      	<div class="circle">
			        Culture<br/>

&amp;<br/>

Values			      </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- mobile banner-->
		<div class="mobile-banner-interior text-center show-for-small-only">
		  <div class="about" style="background-image: url('http://www.makeit.com/wp-content/uploads/2014/11/Mobile_About.jpg');">
		    <div class="table">
		      <div class="center">
		        <div class="mobile-circle">Culture<br/>

&amp;<br/>

Values</div>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 2nd section -->
		<div class="padding-40 tri-down">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Inventive. Transparent. Purposeful. Loyal.</h3>
		      <div class="light black description push-down-40">We design and build unique IT solutions that turn ideas into products, opportunity into competitive advantage, and NimbleWorks clients into category leaders.

We bring more than skill and experience to the table. We enrich every client engagement with a level of creativity, honesty, energy, and commitment that sparks innovation, supports big ideas, and builds lasting relationships.</div>         
		    </div>
		  </div>
		</div>
		    
		
		<!-- 3rd section -->
		<div class="padding-40 grey-bg tri-down">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Inventiveness</h3>
		      <div class="light black description push-down-40">We are abundant in curiosity and creativity. We look at things differently. We bend the rules. We are fascinated by the challenge of turning big ideas into big business. By exploring new concepts and approaches and translating them into viable technology products, we can support innovation and help organizations find powerful ways to become more customer-focused, profitable, and sustainable.</div>           
		    </div>
		  </div>
		</div>

		
		<!-- 4rd section -->
		<div class="padding-40 tri-down">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Transparency</h3>
		      <div class="light black description push-down-40">We are only interested in doing the right thing. Our values and standards are not negotiable, and nothing compromises our commitment to your long-term, sustainable success. Using an agile methodology and an iterative process, we ensure you have a clear view into the progress of your project at every point and ample opportunity to provide input and make changes as needed, so the outcome stays true to your vision.</div>        
		    </div>
		  </div>
		</div>
		
		<!-- 5rd section -->
		<div class="padding-40 tri-down grey-bg">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Focus</h3>
		      <div class="light black description push-down-40">We always do things for a reason. We know where we want to be, we know how to get there, and we use our agility, energy, and drive to make it happen. For our clients, this means no time is wasted, no budget is exceeded, and every decision-point is examined strategically. We don’t believe in technology for technology’s sake: we believe in technology that supports clear business objectives and answers clear business needs.</div>        
		    </div>
		  </div>
		</div>
		
		<!-- 6rd section -->
		<div class="padding-40 tri-down">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Loyalty</h3>
		      <div class="light black description push-down-40">We are relentlessly driven by your vision. We measure our success by your achievements and the longevity of the partnership we sustain with you as your business evolves. The average length of our client relationships is six years, and many have been with us for a decade or more. We believe that we deliver the greatest value when we become an integral part of the way your organization evolves and grows.</div>        
		    </div>
		  </div>
		</div>
		
		<!-- 6rd section -->
		<div class="padding-40 grey-bg">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="teal push-down-30">Our Leadership Team</h3>
		      <div class="light black description push-down-40">Our leadership team empowers clients to redefine the limits of possibility within their respective industries. By taking the time to understand and support the vision, prioritizing flexibility and responsiveness, and using modern, agile methods to deliver optimal value, we help people and organizations address complex challenges, seize opportunity, and realize their full potential.</div>        
		    </div>
		  </div>
		</div>

		    	
		<!-- staff bio -->
		<div class="dark-grey-bg">
		  <div class="row">
		    <div class="large-12 columns text-center">
		      <h3 class="white">Our Leadership Team</h3>
		    </div>
		  </div>
		</div>
		    <div class="staff-bio">
			<div class="staff-container">			
			  <ul>				   
			     
			    <li class="block">
			      <img src="/img/Stephen_Maltby.jpg">      
			      <span onClick="return true">
				<a href="https://www.linkedin.com/in/stephenmaltby" class="white social button" target="_blank">in</a>
			      	<h3 class="white name">STEPHEN MALTBY</h3>
			        <h5 class="white title">Business Strategist </h5>
			        <p class="white description"><strong>Expertise:</strong> Providing business analysis and strategy, conceptualizing practical yet innovative solutions. <strong>Client value:</strong> Combining technology expertise with a deep knowledge of business strategy and key processes such as accounting, budgeting, and operations. Balancing long-term strategy with short-term goals.</p>			        
			      </span>
			    </li>
			     
			    <li class="block">
			      <img src="/img/Brian_James.jpg">      
			      <span onClick="return true">
				<a href="https://www.linkedin.com/pub/brian-james/38/190/701" class="white social button" target="_blank">in</a>
			      	<h3 class="white name">BRIAN JAMES</h3>
			        <h5 class="white title">Connectivity Engineer</h5>
			        <p class="white description"><strong>Expertise:</strong> Bringing software and hardware systems into seamless alignment through <a href="http://www.makeit.com/it-consulting-services/it-infrastructure/">infrastructure services</a>, server, network, and virtualization technologies, and security and infrastructure design auditing. <strong>Client value:</strong> Understanding the business need and translating it into the most efficient, cost-effective IT solutions.</p>			        
			      </span>
			    </li>
			    			  </ul>  
			</div>
    </div>
		
		<div class="career heading teal-bg tri-down">
			<div class="row">
				<div class="large-12 columns">
					<h3 class="white">A career in the making</h3>
				</div>
			</div>		  
		</div>
		<div class="padding-40">
		  <div class="row">
			  <!-- working with us section -->
		    <div class="large-6 medium-6 columns mobile-center">
		      <h4 class="teal push-down-15">Make a move</h4>
		      <div class="black light description push-down-30">We are always looking for creative, collaborative, client-focused individuals to join the NimbleWorks team. If you’re looking for the next challenge in your career, let’s make it happen.</div>
		      <a class="wide black button" href="#" data-reveal-id="myModal">MAKE CONTACT</a>
		      <!-- lightbox-->
		      <div id="myModal" class="reveal-modal grey-bg" data-reveal>
			      <h3 class="teal text-center">Tell us about yourself</h3>
						<div class="black light description"><p style="text-align: left;"><div role="form" class="wpcf7" id="wpcf7-f81-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/about-us/#wpcf7-f81-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="81" />
<input type="hidden" name="_wpcf7_version" value="4.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f81-o1" />
<input type="hidden" name="_wpnonce" value="f93d9f2fcc" />
</div>
<div class="row">
<div class="large-6 columns">
    <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span>
  </div>
<div class="large-6 columns">
    <span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span>
  </div>
</div>
<div class="row">
<div class="large-6 columns">
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
  </div>
<div class="large-6 columns">
      <span class="wpcf7-form-control-wrap tel-310"><input type="tel" name="tel-310" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Telephone" /></span>
  </div>
</div>
<div class="row">
<div class="large-12 columns">
    <span class="wpcf7-form-control-wrap your-cover-letter"><textarea name="your-cover-letter" cols="40" rows="20" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Covering Letter"></textarea></span>
  </div>
</div>
<div class="row">
<div class="large-6 columns">
    <input type="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit black button" />
  </div>
<div class="large-6 columns text-right resume-upload">
    <label for="file-input"><br />
        Attach a Resume &nbsp; <img src="http://www.makeit.com/wp-content/themes/makeit/img/upload_resume.png" width="20px" style="padding-bottom:10px;"/><br />
    </label><br />
    <span class="wpcf7-form-control-wrap file-800"><input type="file" name="file-800" size="40" class="wpcf7-form-control wpcf7-file" id="file-input" aria-invalid="false" /></span>
  </div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></p></div>
					  <a class="close-reveal-modal">&#215;</a>
					</div>
		    </div>
		    <!-- jobs -->
		    <div class="large-6 medium-6 columns mobile-center">
		    	<h4 class="teal push-down-15">Vacancies</h4>
<ul class="job-list">
 
	<li>
		<a href="http://www.makeit.com/careers/agile-business-analyst/" class="blog-more">Business Analyst</a><br/>
	</li>
 
	<li>
		<a href="http://www.makeit.com/careers/372/" class="blog-more">Project Manager</a><br/>
	</li>
 
	<li>
		<a href="http://www.makeit.com/careers/software-developer/" class="blog-more">Software Developer</a><br/>
	</li>
</ul>

		    </div>
		  </div>
		</div>

<!-- lightbox-->
<div id="myModal" class="reveal-modal grey-bg" data-reveal>
  <h3 class="teal text-center">Contact</h3>
  <div class="row">
    <div class="small-12 columns">
			<div class="black light description"><p>Problem solving. Spitballing. What-iffing. Whatever shape the conversation takes, we’d like to hear from you.</p>
<div role="form" class="wpcf7" id="wpcf7-f83-o2" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/about-us/#wpcf7-f83-o2" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="83" />
<input type="hidden" name="_wpcf7_version" value="4.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f83-o2" />
<input type="hidden" name="_wpnonce" value="37cb1e879c" />
</div>
<div class="row">
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span>
            </div>
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span>
            </div></div>
<div class="row">
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
            </div>
<div class="large-6 columns">
                <span class="wpcf7-form-control-wrap tel-310"><input type="tel" name="tel-310" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Telephone" /></span>
            </div></div>
<div class="row">
<div class="large-12 columns">
              <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="20" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea></span>
            </div></div>
<div class="row">
<div class="large-12 columns">
              <input type="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit black button" />
            </div></div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
</div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

	<% include ../partials/footer.ejs %></body>
</html>