<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
    
<body>  
    <% include ../partials/nav.ejs %>  

    <div id="banner-fade" class="hide-for-small-only">
      <ul class="bjqs">
                
        <li>
          <div class="banner text-center">
            <div class="homepage_slide" style="background:url(/img/Nimble_HomeBanner_1.jpg) 0 0 no-repeat;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="86">              
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">NimbleWorks different.</span>
                      <h3 class="light-header white push-down-60">We celebrate innovation and listen with an open mind.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/about-us/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <li>
          <div class="banner text-center">
            <div class="homepage_slide" style="background:url(/img/software-developer.jpg) 0 0 no-repeat;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="86">             
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble IT now.</span>
                      <h3 class="light-header white push-down-60">Our agile methods helps you see results sooner.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/it-consulting-services/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>     
        
        <li>
          <div class="banner text-center">
            <div class="homepage_slide" style="background:url(/img/Nimble_HomeBanner_4.jpg) 0 0 no-repeat;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="86">              
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble Organization</span>
                      <h3 class="light-header white push-down-60">We help savvy businesses become category leaders.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/clients/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        
        <li>
          <div class="banner text-center">
            <div class="homepage_slide" style="background:url(/img/Nimble_HomeBanner_2.jpg) 0 0 no-repeat;" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="86">              
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble Solutions</span>
                      <h3 class="light-header white push-down-60">How do you turn big ideas into a unique software solution?</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/ideation-process-to-product-software/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
    <!-- mobile banners -->
    <div id="banner-fade-mobile" class="show-for-small-only">
      
      <ul class="bjqs">
                <li>
          <div class="mobile-banner text-center">
            <div class="homepage_mobile" style="background:url(/img/Mobile_Home1.jpg) 0 0 no-repeat;">              
             
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">NimbleWorks different.</span>
                      <h3 class="light-header white push-down-60">We celebrate innovation and listen with an open mind.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/about-us/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="mobile-banner text-center">
            <div class="homepage_mobile" style="background:url(/img/software-developer21.jpg) 0 0 no-repeat;">              
             
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble IT now.</span>
                      <h3 class="light-header white push-down-60">Our agile methods helps you see results sooner.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/it-consulting-services/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="mobile-banner text-center">
            <div class="homepage_mobile" style="background:url(/img/Mobile_Home42.jpg) 0 0 no-repeat;">             
             
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble Organization</span>
                      <h3 class="light-header white push-down-60">We help savvy businesses become category leaders.</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/clients/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="mobile-banner text-center">
            <div class="homepage_mobile" style="background:url(/img/Mobile_Home2.jpg) 0 0 no-repeat;">
              <div class="table">
                <div class="center">
                  <div class="row">
                    <div class="large-12 medium-8 medium-centered columns">
                      <span class="banner-title light-header white">Nimble Solutions</span>
                      <h3 class="light-header white push-down-60">How do you turn big ideas into a unique software solution?</h3>
                      <a class="wide white button" style="text-transform:uppercase" href="http://localhost:8080/nimbleworksllc/ideation-process-to-product-software/">see how</a>
                      <div class="bottom">    
                       <a href="#clients"><img src="/img/white_arrow.png"/></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
              </ul>
    </div>
    
    <!-- clients-->
    <a id="clients" style="display: block; position: relative; top: -70px; visibility: hidden;"></a>
    <div class="padding-40 tri-down">
      <div class="row">
        <div class="large-3 medium-4 columns mobile-center">
          <h2 class="teal push-up-10 push-down-25">Our Clients</h2>
          <a class="small black button" href="http://localhost:8080/nimbleworksllc/clients">CASE STUDIES</a>
        </div>
        <div class="large-9 medium-8 columns">
          <ul class="client-icons-sml home-clients large-block-grid-5 medium-block-grid-4 small-block-grid-2">
            <li><img src="/img/tc.png" alt="TravelClick | custom software development" /></li>
            <li><img src="/img/ensono.png" alt="Ensono | Managed IT Support | " /></li>       
          </ul>
        </div>
      </div>
    </div>    
    <!-- text about our approach -->
        
    <div class="padding-50 grey-bg tri-down text-center">
      <div class="row push-down-10">
        <div class="large-12 column">
          <h1 class="teal" style="font-size:35px !important;">We approach IT differently</h1>
          <h5></h5>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://localhost:8080/nimbleworksllc/approach"><img src="/img/light_bulb_icon.png"/></a>
          <h4 class="title">IDEATE</h4>
          <div class="light grey description">We cross pollinate abstract creative thinking with structured business intelligence. By first understanding the business intelligence, we are able to ideate and contribute strategic insight. We apply left and right brain thinking when bringing the big idea to life.</div>
        </div>
        <div class="large-4 medium-4 columns">
          <a href="http://localhost:8080/nimbleworksllc/approach"><img src="/img/wrench_icon.png"/></a>
          <h4 class="title">FABRICATE</h4>
          <div class="light grey description">We assemble boutique teams, processes and
technology to get things done well. We are agile on
methodology and agnostic on technology. We have
myriad ways of combining these factors to create
productive environments. We adapt ourselves to our
client’s unique situation.</div>
        </div>
        <div class="large-4 medium-4 columns">
          <a href="http://localhost:8080/nimbleworksllc/approach"><img src="/img/cog_icon.png"/></a>
          <h4 class="title">DEDICATE</h4>
          <div class="light grey description">We meticulously manage the delivery, deployment
and maintenance of the solution. We take our work
seriously. We are driven to deliver on our promise,
always to specification. It’s in our DNA to accomplish.
We are nimble, energetic, flexible and always accountable.</div>
        </div>        
      </div>
    </div>
    
    
    <!-- text about our services -->
        <div class="padding-40 text-center">
      <div class="row push-down-30">
        <div class="large-12 column">
          <h2 class="teal">An end-to-end IT consulting firm</h2>
        </div>
      </div>
      <div class="row push-down-60">
        <div class="large-5 medium-5 columns push-down-30">     
          <h4 class="title">IT CONSULTING</h4>
          <div class="light black description">For challenging business issues or technically complex projects, the Nimble Works team acts as a seamless extension of your IT department... <a href=" http://localhost:8080/nimbleworksllc/services/it-consulting-services/" class="teal blog-more">learn more</a>     
          </div>
        </div>
        <div class="large-2 medium-2 columns hide-for-small-only">
          <div class="vertical-line"></div>
        </div>
        <div class="large-5 medium-5 columns">          
          <h4 class="title">SOFTWARE DEVELOPMENT</h4>
          <div class="light black description">Whether it’s an idea for a monetizable software product or a solution to drive your business forward, Nimble Works turns the vision into reality... <a href="http://localhost:8080/nimbleworksllc/services/custom-software-development/" class="teal blog-more">learn more</a>
          </div>
        </div>          
      </div>
      <div class="row">
        <div class="large-12 columns">
          <a class="wide black button" href="http://localhost:8080/nimbleworksllc/it-support">MORE SERVICES</a>
        </div>
      </div>
    </div>

<!-- lightbox-->
<div id="myModal" class="reveal-modal grey-bg" data-reveal>
  <h3 class="teal text-center">Contact</h3>
  <div class="row">
    <div class="small-12 columns">
      <div class="black light description"><p>Problem solving. Spitballing. What-iffing. Whatever shape the conversation takes, we’d like to hear from you.</p>
<div role="form" class="wpcf7" id="wpcf7-f83-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/#wpcf7-f83-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="83" />
<input type="hidden" name="_wpcf7_version" value="4.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f83-o1" />
<input type="hidden" name="_wpnonce" value="37cb1e879c" />
</div>
<div class="row">
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" /></span>
            </div>
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" /></span>
            </div></div>
<div class="row">
<div class="large-6 columns">
              <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
            </div>
<div class="large-6 columns">
                <span class="wpcf7-form-control-wrap tel-310"><input type="tel" name="tel-310" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" placeholder="Telephone" /></span>
            </div></div>
<div class="row">
<div class="large-12 columns">
              <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="20" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea></span>
            </div></div>
<div class="row">
<div class="large-12 columns">
              <input type="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit black button" />
            </div></div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
</div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

 <% include ../partials/footer.ejs %>

</body>
</html>